.container__botao { 
    background-color: rgb(46, 6, 156); 

    border-radius: 5px;

    padding: 1em;

    color: white;

    text-decoration: none;

}

.imagem {

   height: 200px;

   width: 200px;
}

